*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black;
    color: antiquewhite; */
}
section{
    width: 100vw;
    display: flex;
    justify-content: center;
}